In [3]:
import numpy as np
import pandas as pd

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [7]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data[1]

0.5

In [9]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
data['b']

0.5

In [12]:
# series as specialized dict
population_dict = {'California': 38332521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [13]:
population['California']

38332521

In [14]:
population[0]

38332521

In [17]:
population['California': 'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [18]:
area_dict = {'California': 2345, 'Texas': 27865, 'New York': 6745, 'Florida': 2456, 'Illinois': 9876}
area = pd.Series(area_dict)
area

California     2345
Texas         27865
New York       6745
Florida        2456
Illinois       9876
dtype: int64

In [19]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population   area
California    38332521   2345
Texas         26448193  27865
New York      19651127   6745
Florida       19552860   2456
Illinois      12882135   9876

In [20]:
states['area']

California     2345
Texas         27865
New York       6745
Florida        2456
Illinois       9876
Name: area, dtype: int64

In [27]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [28]:
ind[1]

3

In [30]:
ind[1::2]

Int64Index([3, 7], dtype='int64')

In [31]:
ind.size, ind.shape, ind.ndim, ind.dtype

(5, (5,), 1, dtype('int64'))

In [32]:
indA = pd.Index([1,2,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [33]:
indA & indB #intersection

Int64Index([2, 3, 5, 7], dtype='int64')

In [34]:
indA | indB #union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

Data Indexing and Selection

In [35]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [37]:
'a' in data

True

In [38]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [39]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [41]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [42]:
data['a':'c'] #slicing by explicit index

a    0.25
b    0.50
c    0.75
dtype: float64

In [45]:
data[0:2] #slicing by implicit index

a    0.25
b    0.50
dtype: float64

In [46]:
data[(data>0.3) & (data <0.8)] #masking

b    0.50
c    0.75
dtype: float64

In [47]:
data[['a', 'e']] #fancy indexing

a    0.25
e    1.25
dtype: float64

In [53]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[1,3,5,7])
data.loc[3]

0.5

In [56]:
data.loc[1:3]

1    0.25
3    0.50
dtype: float64

In [57]:
data.iloc[1:3] # guiding principle of python code: explicit better than implicit, use loc&iloc over [] when needed

3    0.50
5    0.75
dtype: float64